<form>
    <label for="link">Enter a URL here: </label>
    <input type="text" name="link" id="link"> <br>

    <label for="cars">Choose cache duration:</label>

    <select name="cache_duration" id="cache_duration">
      <option value=3600>1 hour</option>
      <option value=1800>30 minutes</option>
      <option value=600>10 minutes</option>
    </select>

</form><br>
<input type="submit" onclick="showInput();" value="Submit"><br/>

<div id="output"> </div>

<iframe id="output-frame" height=450 width=900></iframe>